name: Docs

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: generate documentation
        run: cargo doc --no-deps

      - name: generate book
        run: |
          cargo install mdbook
          cd book/text
          mdbook build
        
      - name: prep deployment branch
        if: github.ref == 'refs/heads/main'
        run: |
          mkdir -p dist
          cp -r target/doc/* dist/
          cp -r book/text/book dist/
          cd dist
          git init
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'deploy'
          
      - name: push deployment branch
        uses: ad-m/github-push-action@77c5b412c50b723d2a4fbc6d71fb5723bcd439aa # v1.0.0
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          force: true
          directory: ./dist
